:root {
  font-family: "Roboto Slab", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #780206;

  padding-top: 40px;
  padding-bottom: 45px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  font-family: "Roboto Slab", serif;
  place-items: center;
  min-width: 320px;
  min-height: 90vh;
  background: #780206;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #061161, #780206); 
  background: linear-gradient(to bottom, #061161, #780206); 
  }
  
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



.btn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgba(255, 255, 255, 0.918);
  text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 20px #eeeeee60;
  border-radius: 10px;
  background-image: linear-gradient(to right, #646363 0%, #535353 51%, #777777 100%);
  }

.btn:hover {
  background-position: right center;
}


.footer {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);

}

.navbar {
  padding-left: 10px;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
.header {
  margin-bottom: 15px;
}

.mainText {
  color: #ECE2D0;
  font-size: 25px;
}

#title {
  color: #ECE2D0;
  font-size: 35px;
}

.gitHub-btn {
  padding: 1px;
  margin-left: 40px;
}

.jumbotron {
  text-align: left;
  padding-top: 0px;
}

.card {
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

.card-footer {
  background: rgba(0, 0, 0, 0.692);
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
